/*Google font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7ffff; /* Light Yellow */
  font-size: 16px;
}

header {
  background-color: #ffb74d; /* Lighter Orange */
  color: white;
  text-align: center;
  padding: 0rem 0;
  font-size: 1.5rem; /* Header font size */
}

header img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 100px; /* Adjust height as needed */
}

nav {
  display: flex;
  justify-content: center;
  background-color: #ffee58; /* Bright Yellow */
  padding: 0.8rem;
  font-size: 0.8rem; /* Navigation font size */
  
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #33691e; /* Dark Green */
  font-weight: bold;
}

nav a:hover {
  color: #ff7043; /* Medium Orange */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f4c3; /* Light Green */
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e6ee9c; /* Soft Green */
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #fff9c4; /* Light Yellow */
  padding: 0rem;
}

.scroll-section {
    width: 100%;
    padding: 2rem;
    margin: 1rem 0;
    background-color: #fff59d; /* Soft Yellow */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.scroll-section.active {
    opacity: 1;
    transform: translateY(0);
}

footer {
    background-color: #66bb6a; /* Green */
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: static;
    bottom: 0;
    font-size: 12px;
}
/* section welcome */
  .start-section {
    padding: 20px 0;
    text-align: center;
    background-color: #fff9c4; /* Optional background color */
}

.section-intro h2 {
    font-size: 1.5rem;
    font-family: 'Georgia', serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; /* Adjust as per your theme */
}

.section-intro p {
  font-size: 17px;
    color: #555;
    margin-bottom: 40px;
    width: 20rem;
}


.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.image-container {
    flex: 1;
    padding: 20px;
}

.image-container img {
    width:auto;
    border-radius: 8px;
}

.text-container {
    flex: 1;
    padding: 2  0px;
    text-align: left;
}

.text-container h3 {
    font-size: 1.rem;
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #333; /* Adjust as per your theme */
}

.text-container p {
  font-size: 15px;
    color: #666;
    margin-bottom: 20px; 

}


/* alight right text */
.text-rightcontainer {
  flex: 1;
  padding: 2  0px;
  text-align: right;
}

.text-rightcontainer h3 {
  font-size: 1.3rem;
  font-family: 'Georgia', serif;
  font-weight: bold;
  color: #333; /* Adjust as per your theme */
  text-align: right;
}

.text-rightcontainer p {
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;  
  text-align: right;
}

.btn-learn-more {
    display: inline-block;
    padding: 2px 8px;
    background-color: #53c659; /* Use your primary button color */
    color: #333;
    font-size: 12px;
    text-decoration: none;
    border: 2px solid #53c659;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-learn-more:hover {
    background-color: transparent;
    color: #ffbf00;
    border: 2px solid #ffbf00;
}

  
/*amenities section*/
 .amenities-title {
    padding: 20px 0;
    text-align: center;
    background-color: #fff9c4; /* Optional background color */
    padding-top: 80px;
 }

 .amenities-title h2 {
    font-size: 1.5rem;
    font-family: 'Georgia', serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; /* Adjust as per your theme */
 }

 .amenities-title p {
    width: 55rem;
    padding-top: 25px;
    font-size: 15px;
    color: #555;
    margin-bottom: 10px;
 }


  .card-wrapper {
    max-width: 780px;
    margin: 0 60px 35px;
    padding: 30px 10px;
    overflow: hidden;
    padding-bottom: 5px;
  }
  
  .card-list .card-item{
    list-style: none;
  }
  .card-list .card-item .card-link {
    user-select: none;
    display: inline-block;
    background: #fff;
    padding: 14px;
    max-width: 232px;
    max-height: 500px;
    border-radius: 12px;
    font-size: 10px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  }
  
  .card-list .card-item .card-link:active {
    cursor: grabbing;
  }
  
  .card-list .card-item .card-link:hover {
    border-color: #ffbf00;
  }
  
  .card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
  
  }
  
  .card-list .card-link .badge {
    color: #5372F0;
    padding: 8px, 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF; 
    width: fit-content;
    border-radius: 50px;
  }
  
  .card-list .card-link .badge.designer{
    color: #B22485;
    background: #F7DFF5;
  }
  
  .card-list .card-link .badge.marketer {
    color: #B25A2B;
    background: #FFE3D2;
  }
  
  .card-list .card-link .badge.gamer {
    color: #205C20;
    background: #D6F8D6;
  }
  
  .card-list .card-link .badge.editor {
    color: #856404;
    background: #fff3cd;
  }
  
  .card-list .card-link .card-title {
    font-size: 1rem;
    color: #000;
    font-weight: 600;
  }
  
  .card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #ffbf00;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2pxx solid #5372F0;
    transform: rotate(-45deg);
    transition: 0.4 ease;
  }
  
  .card-list .card-link:hover .card-button {
    color: #ffbf00;
   
  }
  
  .card-wrapper .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    opacity: 0.5;
    background: #ffbf00;
  }
  
  .card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }
  
  .card-wrapper .swiper-slide-button {
    color: #ffbf00;
    margin-top: -35px;
  }
  
  @media screen and (max-width: 768px) {
    .card-wrapper {
      margin: 0 10px 25px;
    }
  
    .card-wrapper .swiper-slide-button {
      display: none;
    }
  }   





/* Hero Section Styles */
.hero {
    position: relative;
    width: 100%;
    height: 5in; /* Set the height to 5 inches */
    text-align: center;
    color: white;
    overflow: hidden; /* Ensures content doesn't overflow the hero section */
}

.hero-slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fade 0.8s ease-in-out;
}

.hero-slide.active {
    display: block;
    position: relative;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fits the hero section while maintaining aspect ratio */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 750px;
}

.hero-text h1 {
    font-size: 2rem;
    font-family: 'Georgia', serif;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 14px;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: #66bb6a; /* Green */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #558b2f; /* Darker Green */
}

/* Hero Controls Styles */
.hero-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.hero-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.hero-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* history css */
.containers {
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
  }
  
  .containers h2 {
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 50px;
  }
  
  .history-sections {
    background-color: #f5ecd2;
    padding: 30px;
    border-radius: 10px;
  }
  
  .contents {
    display: flex;
    flex-direction: column; /* Change layout to vertical */
    align-items: center; /* Center content horizontally */
  }
  
  .image-sections {
    text-align: center;
    max-width: 100%; /* Adjust for vertical layout */
    margin-bottom: 20px;
  }
  
  .image-sections img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .image-sections p {
    margin: 5px 0;
    font-size: 15px;
    color: #555;
  }
  
  .middle-line {
    width: 250%; /* Make the line horizontal */
    height: 1px; /* Set the height to 1px */
    background-color: #333;
  }
  
  .text-sections {
    max-width: 100%; /* Adjust for vertical layout */
    text-align: center; /* Center the text */
  }
  
  .text-sections p {
    font-size: 15px;
    color: #666;
    margin: 20px -340px;  
    text-align: center;
    width: 55rem;
  }
  
  .start-intro {
    padding-top: 2rem;
  }
  .start-intro h1 {
    font-family: 'Georgia', serif;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }
  
  .start-intro p {
    width: 55rem; /* You can adjust this width as needed */
    font-size: 15px;
    color: #666;
    margin-bottom: 0px;  
    text-align: center; /* Centering the paragraph */
  }


  /* contact section */
.container-contact {
    display: flex;
    max-width: 1100px;
    height: 500px;
    margin: 50px auto;
    background-color: white;
  }
  
  .contact-info {
    padding: 40px;
    background-color: #fffcda;
    width: 40%;
  }
  
  .contact-info h2 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    margin: 10px 0;
    font-size: 15px;
  }
  
  .contact-info a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .contact-info ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .contact-info li {
    margin: 5px 0;
    font-size: 13px;
  }
  
  /* Image/iframe section styling */
  .image-section {
    width: 60%;
  }
  
  /* Resizable iframe */
  .image-section iframe {
    width: 100%;
    height: 500px;
    aspect-ratio: 4 / 3; /* Maintains a 4:3 aspect ratio */
    border: 0;
  }
  
  /* Centering the H1 header */
  .contact-us {
    padding-top: 0rem;
  }
  
  .contact-title {
    padding-top: 5rem;
  }
  .contact-title h1 {
    font-family: 'Georgia', serif;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }

  .contact-title p {
    width: 55rem; /* You can adjust this width as needed */
    font-size: 15px;
    color: #666;
    margin-bottom: 0px;  
    text-align: center; /* Centering the paragraph */
  }


  /* Media Queries */
@media screen and (max-width: 1024px) {
  header, .hero-text h1, .section-intro h2 {
    font-size: 1.2rem;
  }

  .nav, nav a {
    font-size: 0.9rem;
  }

  .scroll-section {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 4in;
  }

  .content-wrapper, .image-container, .text-container {
    flex-direction: column;
    text-align: center;
  }

  .text-container p, .text-rightcontainer p {
    font-size: 0.9rem;
  }

  .card-wrapper {
    margin: 0 20px;
  }
  
  nav a {
    margin: 0.5rem;
    font-size: 0.8rem;
  }
  
  .hero-text {
    padding: 1rem;
  }

  .hero-text h1 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  header, .hero-text h1, .section-intro h2 {
    font-size: 1rem;
  }

  .hero {
    height: 3in;
  }

  .card-wrapper, .content-wrapper {
    padding: 0.5rem;
  }

  .text-container p, .text-rightcontainer p, .hero-text p {
    font-size: 0.75rem;
  }

  .btn-learn-more {
    font-size: 10px;
    padding: 5px 10px;
  }
}


 /* 